@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Regular.ttf') format('truetype');
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Raleway';
}

.logo {
  display: block;
}

.question {
  margin: 25px;
  padding: 10px;
  background-color: yellow;
  border: 1px solid silver;
}
